<main>
    <div class="mx-auto mb-8 flex max-w-lg flex-col items-center justify-center gap-4 text-center md:mb-12 lg:mb-32">
        <h3 class="text-3xl capitalize leading-snug md:text-4xl md:leading-snug lg:text-6xl lg:leading-snug">Our
            Projects</h3>
        <p class="text-center text-sm text-dark/60">We provide physiotherapy treatment, educational services, speech
            therapy and other capability development services to differently abled children from trained assistant
            physiotherapists and teachers.</p>
    </div>
    <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-5 xl:grid-cols-3">
        <div
            class="transition-300 group relative overflow-hidden rounded-2xl border p-6 text-dark shadow hover:border-dark/0 hover:text-white hover:shadow-none md:p-10">
            <div class="absolute -top-1/4 right-2 -z-10 size-80 rounded-full bg-orange-500 blur-[100px]"></div>
            <div class="absolute -bottom-12 -left-10 -z-10 size-52 rounded-full bg-orange-400 blur-[100px]"></div>
            <div
                class="absolute inset-0 -z-10 scale-90 rounded-2xl bg-orange-500 opacity-0 transition-all duration-200 ease-linear group-hover:scale-100 group-hover:rounded-2xl group-hover:opacity-100">
            </div>
            <h4 class="text-2xl capitalize">Education</h4>
            <div class="relative my-4 h-72 w-full overflow-hidden rounded-xl md:my-8 md:h-80"><img
                    src="https://satprayash.org.np//backend/images/mservices/Oea18-16.webp" alt="Education"
                    class="absolute left-0 top-0 size-full rounded-xl object-cover shadow transition-all duration-500 ease-in-out group-hover:scale-110"
                    draggable="false" style="clip-path: url(&quot;#clip-path-1&quot;); opacity: 1;"><svg
                    viewBox="0 0 480 480" class="absolute inset-0 size-full group-hover:hidden">
                    <defs>
                        <clipPath id="clip-path-1">
                            <path
                                d="m452.3 154.4 8.5-47.6A75.6 75.6 0 0 0 373.2 19l-47.4 8.5c-16.7 3-34 .2-49-7.8l-1.1-.6c-22.3-12-49-12-71.4 0l-1.2.6c-15 8-32.2 10.8-48.9 7.8L106.7 19A75.6 75.6 0 0 0 19 106.7l8.5 47.5c3 16.7.3 34-7.8 49l-.6 1.1c-12 22.3-12 49 0 71.3l.6 1.3c8 15 10.8 32.2 7.8 48.9L19 373.3a75.6 75.6 0 0 0 87.7 87.7l47.5-8.5c16.7-3 34-.3 49 7.8l1.1.6c22.3 12 49 12 71.3 0l1.3-.6c15-8 32.2-10.8 48.9-7.8l47.5 8.5a75.6 75.6 0 0 0 87.7-87.7l-8.4-47.2c-3-16.9-.2-34.3 8-49.4a75.5 75.5 0 0 0 .3-71.6l-1-1.8c-8-15-10.7-32.2-7.6-48.9Z">
                            </path>
                        </clipPath>
                    </defs>
                </svg></div>
            <p class="line-clamp-2 text-sm opacity-70 group-hover:opacity-90 md:text-base">
                We provide education to the children with disabilities to help them reach their full potential.
            </p>
        </div>
        <div
            class="transition-300 group relative overflow-hidden rounded-2xl border p-6 text-dark shadow hover:border-dark/0 hover:text-white hover:shadow-none md:p-10">
            <div class="absolute -top-1/4 right-2 -z-10 size-80 rounded-full bg-orange-500 blur-[100px]"></div>
            <div class="absolute -bottom-12 -left-10 -z-10 size-52 rounded-full bg-orange-400 blur-[100px]"></div>
            <div
                class="absolute inset-0 -z-10 scale-90 rounded-2xl bg-orange-500 opacity-0 transition-all duration-200 ease-linear group-hover:scale-100 group-hover:rounded-2xl group-hover:opacity-100">
            </div>
            <h4 class="text-2xl capitalize">Health &amp; Medical</h4>
            <div class="relative my-4 h-72 w-full overflow-hidden rounded-xl md:my-8 md:h-80"><img
                    src="https://satprayash.org.np//backend/images/mservices/LthhY-iStock-580115190.jpg"
                    alt="Health &amp; Medical"
                    class="absolute left-0 top-0 size-full rounded-xl object-cover shadow transition-all duration-500 ease-in-out group-hover:scale-110"
                    draggable="false" style="clip-path: url(&quot;#clip-path-3&quot;); opacity: 1;"><svg
                    viewBox="0 0 480 480" class="absolute inset-0 size-full group-hover:hidden">
                    <defs>
                        <clipPath id="clip-path-3">
                            <path
                                d="m452.3 154.4 8.5-47.6A75.6 75.6 0 0 0 373.2 19l-47.4 8.5c-16.7 3-34 .2-49-7.8l-1.1-.6c-22.3-12-49-12-71.4 0l-1.2.6c-15 8-32.2 10.8-48.9 7.8L106.7 19A75.6 75.6 0 0 0 19 106.7l8.5 47.5c3 16.7.3 34-7.8 49l-.6 1.1c-12 22.3-12 49 0 71.3l.6 1.3c8 15 10.8 32.2 7.8 48.9L19 373.3a75.6 75.6 0 0 0 87.7 87.7l47.5-8.5c16.7-3 34-.3 49 7.8l1.1.6c22.3 12 49 12 71.3 0l1.3-.6c15-8 32.2-10.8 48.9-7.8l47.5 8.5a75.6 75.6 0 0 0 87.7-87.7l-8.4-47.2c-3-16.9-.2-34.3 8-49.4a75.5 75.5 0 0 0 .3-71.6l-1-1.8c-8-15-10.7-32.2-7.6-48.9Z">
                            </path>
                        </clipPath>
                    </defs>
                </svg></div>
            <p class="line-clamp-2 text-sm opacity-70 group-hover:opacity-90 md:text-base">
                We help children suffering from Cerebral Palsy, Down Syndrome, Spinal Bifida, and Muscular Dystrophy.
            </p>
        </div>
        <div
            class="transition-300 group relative overflow-hidden rounded-2xl border p-6 text-dark shadow hover:border-dark/0 hover:text-white hover:shadow-none md:p-10">
            <div class="absolute -top-1/4 right-2 -z-10 size-80 rounded-full bg-orange-500 blur-[100px]"></div>
            <div class="absolute -bottom-12 -left-10 -z-10 size-52 rounded-full bg-orange-400 blur-[100px]"></div>
            <div
                class="absolute inset-0 -z-10 scale-90 rounded-2xl bg-orange-500 opacity-0 transition-all duration-200 ease-linear group-hover:scale-100 group-hover:rounded-2xl group-hover:opacity-100">
            </div>
            <h4 class="text-2xl capitalize">Vocational Training</h4>
            <div class="relative my-4 h-72 w-full overflow-hidden rounded-xl md:my-8 md:h-80"><img
                    src="https://satprayash.org.np//backend/images/mservices/ZD7XA-service-img10.png"
                    alt="Vocational Training"
                    class="absolute left-0 top-0 size-full rounded-xl object-cover shadow transition-all duration-500 ease-in-out group-hover:scale-110"
                    draggable="false" style="clip-path: url(&quot;#clip-path-4&quot;); opacity: 1;"><svg
                    viewBox="0 0 480 480" class="absolute inset-0 size-full group-hover:hidden">
                    <defs>
                        <clipPath id="clip-path-4">
                            <path
                                d="m452.3 154.4 8.5-47.6A75.6 75.6 0 0 0 373.2 19l-47.4 8.5c-16.7 3-34 .2-49-7.8l-1.1-.6c-22.3-12-49-12-71.4 0l-1.2.6c-15 8-32.2 10.8-48.9 7.8L106.7 19A75.6 75.6 0 0 0 19 106.7l8.5 47.5c3 16.7.3 34-7.8 49l-.6 1.1c-12 22.3-12 49 0 71.3l.6 1.3c8 15 10.8 32.2 7.8 48.9L19 373.3a75.6 75.6 0 0 0 87.7 87.7l47.5-8.5c16.7-3 34-.3 49 7.8l1.1.6c22.3 12 49 12 71.3 0l1.3-.6c15-8 32.2-10.8 48.9-7.8l47.5 8.5a75.6 75.6 0 0 0 87.7-87.7l-8.4-47.2c-3-16.9-.2-34.3 8-49.4a75.5 75.5 0 0 0 .3-71.6l-1-1.8c-8-15-10.7-32.2-7.6-48.9Z">
                            </path>
                        </clipPath>
                    </defs>
                </svg></div>
            <p class="line-clamp-2 text-sm opacity-70 group-hover:opacity-90 md:text-base">
                We focus providing vocational training to the children with disabilities to develop life skills for self
                sustenance.
            </p>
        </div>
        <div
            class="transition-300 group relative overflow-hidden rounded-2xl border p-6 text-dark shadow hover:border-dark/0 hover:text-white hover:shadow-none md:p-10">
            <div class="absolute -top-1/4 right-2 -z-10 size-80 rounded-full bg-orange-500 blur-[100px]"></div>
            <div class="absolute -bottom-12 -left-10 -z-10 size-52 rounded-full bg-orange-400 blur-[100px]"></div>
            <div
                class="absolute inset-0 -z-10 scale-90 rounded-2xl bg-orange-500 opacity-0 transition-all duration-200 ease-linear group-hover:scale-100 group-hover:rounded-2xl group-hover:opacity-100">
            </div>
            <h4 class="text-2xl capitalize">Home Visit &amp; Counseling</h4>
            <div class="relative my-4 h-72 w-full overflow-hidden rounded-xl md:my-8 md:h-80"><img
                    src="https://satprayash.org.np//backend/images/mservices/AizJq-child-with-doctorjpeg-6626d68b9f375.jpg"
                    alt="Home Visit &amp; Counseling"
                    class="absolute left-0 top-0 size-full rounded-xl object-cover shadow transition-all duration-500 ease-in-out group-hover:scale-110"
                    draggable="false" style="clip-path: url(&quot;#clip-path-7&quot;); opacity: 1;"><svg
                    viewBox="0 0 480 480" class="absolute inset-0 size-full group-hover:hidden">
                    <defs>
                        <clipPath id="clip-path-7">
                            <path
                                d="m452.3 154.4 8.5-47.6A75.6 75.6 0 0 0 373.2 19l-47.4 8.5c-16.7 3-34 .2-49-7.8l-1.1-.6c-22.3-12-49-12-71.4 0l-1.2.6c-15 8-32.2 10.8-48.9 7.8L106.7 19A75.6 75.6 0 0 0 19 106.7l8.5 47.5c3 16.7.3 34-7.8 49l-.6 1.1c-12 22.3-12 49 0 71.3l.6 1.3c8 15 10.8 32.2 7.8 48.9L19 373.3a75.6 75.6 0 0 0 87.7 87.7l47.5-8.5c16.7-3 34-.3 49 7.8l1.1.6c22.3 12 49 12 71.3 0l1.3-.6c15-8 32.2-10.8 48.9-7.8l47.5 8.5a75.6 75.6 0 0 0 87.7-87.7l-8.4-47.2c-3-16.9-.2-34.3 8-49.4a75.5 75.5 0 0 0 .3-71.6l-1-1.8c-8-15-10.7-32.2-7.6-48.9Z">
                            </path>
                        </clipPath>
                    </defs>
                </svg></div>
            <p class="line-clamp-2 text-sm opacity-70 group-hover:opacity-90 md:text-base">
                Home visit and counseling for the children who are unable to attend the center.
            </p>
        </div>
        <div
            class="transition-300 group relative overflow-hidden rounded-2xl border p-6 text-dark shadow hover:border-dark/0 hover:text-white hover:shadow-none md:p-10">
            <div class="absolute -top-1/4 right-2 -z-10 size-80 rounded-full bg-orange-500 blur-[100px]"></div>
            <div class="absolute -bottom-12 -left-10 -z-10 size-52 rounded-full bg-orange-400 blur-[100px]"></div>
            <div
                class="absolute inset-0 -z-10 scale-90 rounded-2xl bg-orange-500 opacity-0 transition-all duration-200 ease-linear group-hover:scale-100 group-hover:rounded-2xl group-hover:opacity-100">
            </div>
            <h4 class="text-2xl capitalize">Daily Living Support</h4>
            <div class="relative my-4 h-72 w-full overflow-hidden rounded-xl md:my-8 md:h-80"><img
                    src="https://satprayash.org.np//backend/images/mservices/S8VLd-6.webp" alt="Daily Living Support"
                    class="absolute left-0 top-0 size-full rounded-xl object-cover shadow transition-all duration-500 ease-in-out group-hover:scale-110"
                    draggable="false" style="clip-path: url(&quot;#clip-path-8&quot;); opacity: 1;"><svg
                    viewBox="0 0 480 480" class="absolute inset-0 size-full group-hover:hidden">
                    <defs>
                        <clipPath id="clip-path-8">
                            <path
                                d="m452.3 154.4 8.5-47.6A75.6 75.6 0 0 0 373.2 19l-47.4 8.5c-16.7 3-34 .2-49-7.8l-1.1-.6c-22.3-12-49-12-71.4 0l-1.2.6c-15 8-32.2 10.8-48.9 7.8L106.7 19A75.6 75.6 0 0 0 19 106.7l8.5 47.5c3 16.7.3 34-7.8 49l-.6 1.1c-12 22.3-12 49 0 71.3l.6 1.3c8 15 10.8 32.2 7.8 48.9L19 373.3a75.6 75.6 0 0 0 87.7 87.7l47.5-8.5c16.7-3 34-.3 49 7.8l1.1.6c22.3 12 49 12 71.3 0l1.3-.6c15-8 32.2-10.8 48.9-7.8l47.5 8.5a75.6 75.6 0 0 0 87.7-87.7l-8.4-47.2c-3-16.9-.2-34.3 8-49.4a75.5 75.5 0 0 0 .3-71.6l-1-1.8c-8-15-10.7-32.2-7.6-48.9Z">
                            </path>
                        </clipPath>
                    </defs>
                </svg></div>
            <p class="line-clamp-2 text-sm opacity-70 group-hover:opacity-90 md:text-base">
                We provide daily living support to the children with disabilities to improve their quality of life.
            </p>
        </div>
        <div
            class="transition-300 group relative overflow-hidden rounded-2xl border p-6 text-dark shadow hover:border-dark/0 hover:text-white hover:shadow-none md:p-10">
            <div class="absolute -top-1/4 right-2 -z-10 size-80 rounded-full bg-orange-500 blur-[100px]"></div>
            <div class="absolute -bottom-12 -left-10 -z-10 size-52 rounded-full bg-orange-400 blur-[100px]"></div>
            <div
                class="absolute inset-0 -z-10 scale-90 rounded-2xl bg-orange-500 opacity-0 transition-all duration-200 ease-linear group-hover:scale-100 group-hover:rounded-2xl group-hover:opacity-100">
            </div>
            <h4 class="text-2xl capitalize">Community &amp; Activites</h4>
            <div class="relative my-4 h-72 w-full overflow-hidden rounded-xl md:my-8 md:h-80"><img
                    src="https://satprayash.org.np//backend/images/mservices/GoxM2-special-child.jpg"
                    alt="Community &amp; Activites"
                    class="absolute left-0 top-0 size-full rounded-xl object-cover shadow transition-all duration-500 ease-in-out group-hover:scale-110"
                    draggable="false" style="clip-path: url(&quot;#clip-path-9&quot;); opacity: 1;"><svg
                    viewBox="0 0 480 480" class="absolute inset-0 size-full group-hover:hidden">
                    <defs>
                        <clipPath id="clip-path-9">
                            <path
                                d="m452.3 154.4 8.5-47.6A75.6 75.6 0 0 0 373.2 19l-47.4 8.5c-16.7 3-34 .2-49-7.8l-1.1-.6c-22.3-12-49-12-71.4 0l-1.2.6c-15 8-32.2 10.8-48.9 7.8L106.7 19A75.6 75.6 0 0 0 19 106.7l8.5 47.5c3 16.7.3 34-7.8 49l-.6 1.1c-12 22.3-12 49 0 71.3l.6 1.3c8 15 10.8 32.2 7.8 48.9L19 373.3a75.6 75.6 0 0 0 87.7 87.7l47.5-8.5c16.7-3 34-.3 49 7.8l1.1.6c22.3 12 49 12 71.3 0l1.3-.6c15-8 32.2-10.8 48.9-7.8l47.5 8.5a75.6 75.6 0 0 0 87.7-87.7l-8.4-47.2c-3-16.9-.2-34.3 8-49.4a75.5 75.5 0 0 0 .3-71.6l-1-1.8c-8-15-10.7-32.2-7.6-48.9Z">
                            </path>
                        </clipPath>
                    </defs>
                </svg></div>
            <p class="line-clamp-2 text-sm opacity-70 group-hover:opacity-90 md:text-base">
                We help the children to engage in community social activities to connect with the society.
            </p>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center">
        <div class="mx-auto h-16 w-px bg-orange-500/30 md:h-28"></div><a
            class="transition-300 group flex items-center justify-center gap-2 rounded-full border-2 border-orange-500 bg-orange-500 px-6 py-2 text-sm font-semibold text-light hover:bg-light hover:text-orange-500 md:text-base"
            href="/projects">View All Projects<svg stroke="currentColor" fill="currentColor" stroke-width="0"
                viewBox="0 0 256 256" class="animate-bounce text-xl" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M230.33,141.06a24.34,24.34,0,0,0-18.61-4.77C230.5,117.33,240,98.48,240,80c0-26.47-21.29-48-47.46-48A47.58,47.58,0,0,0,156,48.75,47.58,47.58,0,0,0,119.46,32C93.29,32,72,53.53,72,80c0,11,3.24,21.69,10.06,33a31.87,31.87,0,0,0-14.75,8.4L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56Zm-10.9,27.15-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9Z">
                </path>
            </svg></a>
    </div>
</main>
<div class="relative h-[110vh] w-full">
    <div class="pointer-events-none absolute inset-0 -z-10 size-full bg-dark/60"></div>
    <div class="pointer-events-none absolute inset-0 -z-10 size-full bg-cover bg-fixed bg-center bg-repeat mix-blend-multiply contrast-125"
        style="background-image: url(&quot;/assets/events-CljoMoDx.webp&quot;);"></div>
    <div class="z-10 flex size-full items-center justify-center text-white">
        <div class="container mx-auto max-w-xl text-center">
            <h3 class="text-3xl md:text-5xl">Host Your Events</h3>
            <p class="mt-4 text-base font-extralight" style="text-shadow: rgb(0, 0, 0) 2px 2px 4px;">One of the best
                ways to help Satprayas Nepal is by hosting your own event to benefit Satprayas Nepal in your hometown.
                Event types are flexible, therefore allowing you to combine your passion for helping children in need
                with your outside interests. We'll work with you to create fun and exciting event.</p>
            <div class="my-12 flex items-center justify-center text-dark"><a
                    class="transition-300 group flex items-center justify-center gap-4 rounded-full border-4 border-orange-500 bg-orange-500 px-8 py-4 text-sm font-semibold backdrop-blur hover:bg-light hover:text-orange-500 md:text-base"
                    aria-label="Host Your Events" title="Host Your Events" href="/contact#contactForm"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="transition-300 text-xl group-hover:animate-ping" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.8 11.3 2 22l10.7-3.79"></path>
                        <path d="M4 3h.01"></path>
                        <path d="M22 8h.01"></path>
                        <path d="M15 2h.01"></path>
                        <path d="M22 20h.01"></path>
                        <path
                            d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12v0c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10">
                        </path>
                        <path d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11v0c-.11.7-.72 1.22-1.43 1.22H17"></path>
                        <path d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98v0C9.52 4.9 9 5.52 9 6.23V7"></path>
                        <path
                            d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z">
                        </path>
                    </svg>Schedule Your Event<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="transition-300 text-xl group-hover:animate-ping" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.8 11.3 2 22l10.7-3.79"></path>
                        <path d="M4 3h.01"></path>
                        <path d="M22 8h.01"></path>
                        <path d="M15 2h.01"></path>
                        <path d="M22 20h.01"></path>
                        <path
                            d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12v0c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10">
                        </path>
                        <path d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11v0c-.11.7-.72 1.22-1.43 1.22H17"></path>
                        <path d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98v0C9.52 4.9 9 5.52 9 6.23V7"></path>
                        <path
                            d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z">
                        </path>
                    </svg></a></div>
            <div class="space-y-2">
                <p><span class="font-light opacity-80">or call us directly</span><a rel="noopener noreferrer"
                        class="transition-linear ml-2 font-semibold hover:text-orange-500" href="tel:+977 9851063716"
                        target="_blank">+977 9851063716</a></p><a rel="noopener noreferrer"
                    class="transition-linear font-semibold hover:text-orange-500" href="mailto:info@satprayash.org.np"
                    target="_blank">info@satprayash.org.np</a>
            </div>
        </div>
    </div>
</div>