<main class="relative flex h-screen w-full items-end bg-gradient-to-b from-[#82fcf1] to-transparent p-0"><img
        src="https://templebell.pages.dev/assets/test-Bbq4jGgE.png" alt="Temple Bell"
        class="absolute inset-0 h-screen w-full object-contain" draggable="false">
    <div class="absolute inset-0 size-full bg-gradient-to-b from-transparent via-transparent to-light"></div>
    <div class="z-20 max-w-3xl space-y-3 p-6"><span class="uppercase">blend of modern comfort &amp; traditional
            charm.</span>
        <h1 class="text-5xl capitalize leading-tight">Your newest sanctuary</h1>
    </div><img src="https://templebell.pages.dev/assets/offers-BsrjYTyN.jpg" alt="Offers"
        class="absolute bottom-6 right-6 w-48 object-contain shadow">
</main>